
@media all and (max-width: 1100px){
  html{
    font-size: 90%;
  }

@media all and (max-width: 950px){
  html{
    font-size: 85%;
  }

  .slick-track{
    flex-wrap:wrap;
  }

  .partner-link-cover li{
    width:32% !important;
  }

@media all and (max-width: 768px) {
  /*全体*/
  html{
    font-size: 80%;
  }

  .container{
    max-width:500px;
    overflow: hidden;
  }

  /*headerの非表示*/
  .header-link{
    display:none;
  }

  /*menuボタンの出現*/
  .menu-trigger,
  .menu-trigger span{
    display:inline-block;
  }

  /*topの調整*/
  .top-wrapper{
    align-items: flex-end;
  }

  .top-contents-box{
    width:100%;
    margin-bottom: 3rem;

  }

  /*about部分の文字の大きさ*/

  .about-header h2{
    font-size:1.3rem;
  }

  .about-inner p{
    font-size: 1.2rem;
  }

  /*サービス画面の調整*/

  .solution-images-wrapper{
    flex-direction: column;
    justify-content:center;
  }

  .solution-container{
    width:100%;
    margin-bottom:2rem;
  }

  .example-container-wrapper{
    flex-direction: column;
    justify-content:center;
  }

  .example-container{
    width:100%;
    margin-bottom: 1.5rem;
    padding:1rem 1.5rem;
  }

  /*profileの調整*/
  .profile-header h1{
    font-size: 1.2rem;
  }

  .profile-inner{
    display: block;
  }

  .profile-image{
    width: 100%;
  }

  .profile-sentence-box{
    width:100%;
  }

  .profile-sentence-box h2{
    margin-top:2rem;
  }

  .profile-link-cover{
    flex-direction: column;
    align-items: center;
  }

  .profile-link-cover li{
    width:80%;
    margin-top:1rem;
  }

  /*partnerの調整*/
  .partner-header h2{
    font-size:1.2rem;
  }

  .slick-track{
    flex-wrap:wrap;
  }

  .partner-link-cover li{
    width:45% !important;
  }

  .swiper-container-inner{
    width:90%;
  }

  .slider-image{
    display: block;
  }
  .slider-image a{
    width:100%;
  }

  .slider-contents{
    width:100%;
  }

  .slider-contents h3{
    font-size:1.2rem;
  }


}
